<!-- <form method="POST" action="/workouts">
    <label for="day">Day</label>
    <input type="text" name="day">
  
    <label for="duration">Duration(Mins)</label>
    <input id="duration" type="text" name="duration">
  
    <input type="submit">
  </form> -->


  <!-- //=============bulma============\\ -->
  <!DOCTYPE html>
<html>
  <body>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neumorphic Login - Free Bulma template</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/neumorphic-login.css">
  </head>

  <form method="POST" action="/workouts">
    <div class="field">
      <div class="control">
        <label for="day">Day</label>
        <input class="input is-medium is-rounded" type="text" name="day">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="duration">Duration(Mins)</label>
        <input class="input is-medium is-rounded" id="duration" type="text" name="duration">
      </div>
    </div>
    <br />
    <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
      Add Workout
    </button>
  </form>
</body>

  </html>