<!-- <form method="POST" action="/exercises/<%= workoutId %>">
    <label for="name">Name</label>
    <input type="text" name="name">
  
    <label for="weight">Weight</label>
    <input id="weight" type="text" name="weight">

    <label for="reps">Reps</label>
    <input id="reps" type="text" name="reps">

    <label for="sets">Sets</label>
    <input id="sets" type="text" name="sets">

    <label for="bodyGroup">Body Group</label>
    <input id="bodyGroup" type="text" name="bodyGroup">

    <input type="submit">
  </form>

  //=============bulma============\\ -->

  <!DOCTYPE html>
<html>
  <body>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/neumorphic-login.css">
  </head>

  <form method="POST" action="/exercises/<%= workoutId %>">
    <div class="field">
      <div class="control">
        <label for="name">Name</label>
        <input class="input is-medium is-rounded" type="text" name="name">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="weight">Weight</label>
        <input class="input is-medium is-rounded" id="weight" type="text" name="weight">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="reps">Reps</label>
        <input class="input is-medium is-rounded" id="reps" type="text" name="reps">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="sets">Sets</label>
        <input class="input is-medium is-rounded" id="sets" type="text" name="sets">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label for="bodyGroup">Body Group</label>
        <input class="input is-medium is-rounded" id="bodyGroup" type="text" name="bodyGroup">
      </div>
    </div>
    <br />
    <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
      Add New Exercise
    </button>
  </form>
</body>

  </html>